/* .game-form{
    text-align:center ;
    height: 420px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 4PX 8PX 0PX rgba(0, 0, 0, 0.2);
    color: rgb(45, 157, 255);
}
.game-form-1{
    text-align:center ;
    /* height: 320px; */
/* width: 100%; */
/* display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px;
    justify-content: space-between;
}

.input input{
width:400px; */
/* }

.game-form-2{
    text-align:center ; */
/* height: 320px; */
/* width: 400px; */
/* margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input1 input{
    width: 400px;
}
.game-form-3 select{
    
    /* margin-left: auto;
    margin-right: auto; */
/* margin-top: 0px;
    margin-bottom: 900px; */
/* display: flex; */

/* } */
/* 
.form h1{
    text-align: center;
    color: rgb(0, 76, 120);
}  */

/* 
.form input{
    width: 320px;
    padding: 5px;
    margin: 10px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-sizing: border-box;
}

.game-form input{
    width: 320px;
    padding: 5px;
    margin: 10px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-sizing: border-box;
}

.game-form button{
    width: 110px;
    background-color: rgb(0, 102, 160);
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 10px 100px 10px;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: 1px;
    border-radius: 20px;
    
}*/

.form-row p {
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: small;
}

 
/* .head {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    text-align: center;
    background-color: #000000;
    width: 100%;
    color: white;
} */

.content {
    position: fixed;
    padding: 3%;
    margin: 1%;
    border: 2px solid #ffffff;
    box-shadow: 4px 5px rgb(0, 0, 0);
    background-color: white;
    box-shadow: 0px 2px 6px 0 deeppink, 4px 5px  rgb(0, 0, 0);
    position: relative;
}

font {
    font-size: large;
    color: #000000;
}

form {
    font-size: large;
}

/* .content input[type="text"] {
    height: 45%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid hsl(0, 0%, 0%);
    text-align: center;
    font-size: 16px;
    margin-left: 100px;
} */

.add-game-btn {
    width: 100%;
    justify-content: center;
}

.add-game-btn .button span {
    padding: 15px 30px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
}
p1.button.cancel {
    margin-inline-start: 20px;
}
.add-game-btn .button.cancel span {
    background: transparent;
    border: 1px solid #000;
    color: #000;
}
.add-game-btn  .button span:after {
    display: none;
}

.centered-img {
    display: block;
    margin: 0 auto; /* Center horizontally */
    max-width: 100%;
    max-height: 100%;
  }
/* .form-row{
    height: 12vh;

}
.content select {
    height: 55%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid hsl(0, 0%, 0%);
    text-align: center;
    font-size: 16px;
    margin-left: 100px;
}

.content input::placeholder {
    color: #CCC;
    font-size: 18px;
}

textarea {
    font-size: 16px;
    width: 440px;
}

select {
    width: 140px;
    height: 25px;
} */

/* 

.content input[type="submit"]:hover {
    color: white;
    background-color: deeppink;
} */





/* .container {
	box-sizing: border-box;
	margin-left: 100vh;
    width: 300vh;
	padding: 0;	
}

body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 200px;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
} */

/* .screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}  */
/* 
.AddGame {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.AddGame__field {
	padding: 20px 0px;	
	position: relative;	
}


.AddGame__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}



.add-game-design p
 {
	display: inline-block;
  border-radius: 4px;
  background-Color: black;
  border: 1px solid deeppink;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 6px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 15px;
 } */


