.contact-form input:hover{
    color: rgb(249, 249, 249);
    background-color: rgb(255, 30, 0);
    
}
.contact-form input{
    background-color: rgb(6, 44, 111);
    /* background-color: rgb(13, 53, 81); */
    color: white;
}
.contact-form1 button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(1, 88, 125);
    border: 2px solid rgb(255, 255, 255);
}

.contact-form1 button{
   
    color: rgb(1, 88, 125);
    background:  rgb(255, 255, 255);
    border: 2px solid rgb(1, 88, 125);
}

.form-row p{
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: small;
} 