body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Archivo Narrow', sans-serif;
}


/*DEFAULT*/
a {
    text-decoration: none;
}

.title {
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.sub-title {
    display: block;
}

li {
    list-style: none;
}



label {
    color: gray;
}

.checked {
    color: #f79500;
}

/*ANIMATION*/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}



.banner {
    width: 80%;
    height: 95px;
    /* background-image: url("https://i.ibb.co/vcBQN6m/aboutus-header.webp"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    color: white;
    margin-left: 10%;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.banner section,
.banner a {
    color: #fff;
    margin: 0 10px;
}




/*PRODUCT CONTAINER*/
.product_container {
    width: 90%;
    margin: auto;
    position: relative;
    padding: 5vh 0;
    margin: 5vh auto;
    margin-right: 100vh;
    
}
.product_container img:hover{
   border: 1px solid deeppink;
   opacity: 0.6;
   cursor: pointer;
   transform: translateY(-10px);
   -webkit-transform: translateY(-10px);
}

.slide_image_color {
    border: 2px solid #384aeb;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    padding: 10px;
}

.sidebar img {
    display: block;
    margin: 2px 0;
}

.Product_tumbnail {
    width: 50%;
    margin: auto;
}

.product_tumbnail img {
    width: 90%;
    height: 90%;
}

.details {
    width: 35%;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    padding: 5vh 0;
}

.price {
    color: #384aeb;
    font-size: 20px;
}
.description {
    color: #000000;
    font-size: 17px;
}

.sub-details li {
    padding: 10px 0;
}

.sub-details li i {
    color: #384aeb;
    margin: 0 5px;
}

table {
    width: 100%;
}

table td {
    width: 30%;
    padding: 10px;
}


.BuyNow-btn {
    display: inline-block;
    border-radius: 4px;
    background-Color: black;
    border: 1px solid deeppink;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    width: 110px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
  }
.game-Cancel-btn {
    display: inline-block;
    border-radius: 4px;
    background-Color: black;
    border: 1px solid deeppink;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    width: 110px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
  }


.reviews {
    width: 100%;
    background: #f2f2f2;
    padding: 5vh 0;
    position: relative;
}

.review_sidebar {
    width: 90%;
    margin: auto;
}

.review_sidebar button {
    display: inline-block;
}

.review_container {
    width: 90%;
    margin: auto;
    padding: 5vh 0;
}

.active_button {
    background: #384aeb;
    color: #fff;
    transition: 0.5s;
}

.specification_table {
    border-collapse: collapse;
}

.specification_table td {
    width: 50%;
    padding: 10px 25px;
    color: gray;
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}

.user_star_ratings {
    width: 50%;
}

.overall_rating,
.rating_blocks {
    width: 40%;
    display: inline-block;
    text-align: center;
}

.overall_rating {
    background: #fff;
    padding: 30px 20px;
    width: 30%;
    position: relative;
    top: -40px;
}

.rating_blocks ul {
    position: relative;
    left: -20px;
}

.rating_blocks ul li {
    padding: 5px 0;
}

.reviews_recorded ul li img {
    border-radius: 50%;
}

.reviews_recorded ul li b {
    display: block;
}

.enter_user_star_ratings {
    width: 40%;
    position: absolute;
    top: 20vh;
    right: 3vh;
    background: #fff;
    padding: 30px;
}

.enter_user_star_ratings textarea {
    width: 90%;
    padding: 5%;
    height: 150px;
    display: block;
    margin: 20px 0;
    resize: none;
    outline: none;
}

@media (max-width:1000px) {
    .specification_table td {
        width: 95%;
        padding: 10px 25px;
        color: gray;
        border-bottom: 1px solid rgba(1, 1, 1, 0.1);
    }

    .user_star_ratings {
        width: 95%;
        margin: 15vh 0;
    }

    .review_sidebar button {
        margin: 0 5px;
        width: 100px;
        font-size: 11px;
        display: inline-block;
    }

    .overall_rating,
    .rating_blocks {
        width: 95%;
        display: block;
    }

    .enter_user_star_ratings {
        width: 90%;
        position: static;
        background: #fff;
        padding: 20px;
    }
}

.rating-box {
    display: inline-block;
}

.rating-box .rating-container {
    direction: rtl !important;
}

.rating-box .rating-container label {
    display: inline-block;
    margin: 15px 0;
    color: #d4d4d4;
    cursor: pointer;
    font-size: 30px;
    transition: color 0.2s;
}

.rating-box .rating-container input {
    display: none;
}

.rating-box .rating-container label:hover,
.rating-box .rating-container label:hover~label,
.rating-box .rating-container input:checked~label {
    color: gold;
}

.Slider_Container:hover{
    box-shadow: 1px solid var(--color-two);

}