.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Style the form container */
  .form-container {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  /* Style form elements */
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    /* margin-bottom: 15px; */
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .error-msg{
    color: red;
    font-size: 12px;
  }
  .form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Style the "Sign In" button */
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Style the "Register" link */
  .register-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .register-link:hover {
    color: #0056b3;
  }
  

  /* Background image style */
.background-image {
    background-image: url('../images/1111.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    position: relative;
    height: 100vh; 
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  
  /* Login.css */
.custom-input .form-control {
  padding: 0.2rem 0.5rem; /* Adjust padding as needed */
  height: 2rem; /* Adjust height as needed */
}

/* You can adjust the label styles as well if needed */
.custom-input label {
  margin-bottom: -0.2rem; /* Adjust spacing between label and input */
  color: #FFFFFF;
  font-size: small;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 6px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}
.sign-in-btn{
  margin-left: 0px;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}