.form button{
   
    color: rgb(1, 88, 125);
    background:  rgb(255, 255, 255);
    border: 2px solid rgb(1, 88, 125);
}

.form button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(1, 88, 125);
    border: 2px solid rgb(255, 255, 255);
}
